html {
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 15px;
	background:		#202020;
	color:			#e5e5e5;
}

body {
	width: 60%;
	margin:			0 auto 0 auto !important;
	padding:		0 !important;
	height: 100%;
}

header {
	background:		#202020;
	color:			#e5e5e5;
	margin:			0 !important;
	padding-left:	20%;
	padding-right: 	20%;
	padding-bottom: 1%;
}

#profile {
	display:		block;
	border-radius: 	40%;
	width: 			150px;
}

#title {
	text-align: center;
	width: 100%;
	margin: 		0;
	margin-top: 10px;
	text:			#e5e5e5;
}

#subtitle {
	text-align: center;
	width: 100%;
	margin: 		0;
	text:			#e5e5e5;
	text-decoration: none;
	font-weight: normal;
}

#banner {
	background-image: url("../img/banner.jpg");

	height:			3rem;
	width: 100%;
	/* margin-left: auto; */
	/* margin-right: auto; */

	background-attachment:	fixed;
	background-position:	center;
	background-repeat:		no-repeat;
	background-size:		cover;

	margin-bottom: 10px;

	font-size: 2.5rem;

	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
	align-items: center;
}

#banner > a:link, #banner > a:visited {
	color: #303030;
}

#banner > a:hover {
	color: #e5e5e5;
}

.postheading {
	width: 100%;
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	padding: 0;
	margin:0;
}

.postheading > h1 {
	font-size; 1.2em;
	padding:0;
	margin: 0;
}

.postheading > p {
	margin: 0;
	padding: 0;
	color: #777777;
}

.post {
	/* border-radius: 10px; */
	padding: 10px;
	background: #303030;
	color:		#e5e5e5;
	margin: 10px;
	margin-top: 0px;
	margin-right: 0px;
}

.post > p {
	font-size: 1em;
	padding: 0;
	margin: 0;
	margin-top: 5px;
}

.post > p > br {
	display: block;
	content: "";
	margin-top: 5px;
}

img.img_centered {
	margin-left: auto;
	margin-right: auto;
}

img.img_span {
	width: 100%;
}

#sidebar {
	margin: 0px 0px 0px 0px;
	/* padding: 10px; */
	padding: 0;
	width: 30%;
}

#articles {
	width: 70%;
}

#sidebar > .post {
	margin: 0;
	margin-bottom: 10px;
	position: sticky;
	top: 10px;
}

.horizontal {
	display: flex;
	flex-flow: row nowrap;
}

a {
	text-decoration:	none;
	transition: 0.5s;
}

a:active{
	color:			#4287f5;
}

a:link {
	color:			#89ccc7;
}

a:visited {
	color:			#89ccc7;
}

a:hover {
	/* background:		#e5e5e5; */
	color:			#e5e5e5;
}
						
.fa {
	padding: 0 10px 0 10px;
}

#links {
	list-style: none;
	padding: 0;
	margin: 0;
}

#links > li {
	padding-bottom: 5px;
}
