html {
	font-family: 'Heebo', sans-serif;
	font-size: clamp(9px, 0.9vw, 20px);
	background:		#202020;
	color:			#e5e5e5;
}

p {
	line-height: 1.3rem;
}

body {
	min-width: 50%;
	max-width: min(1000px, 100%);
	margin:			0 auto 0 auto !important;
	padding:		0 !important;
	height: 100%;
}

header {
	background:		#202020;
	color:			#e5e5e5;
	margin:			10px !important;

	text-align: center;
}

#title {
	padding: 0;
	margin: 0;
}

#subtitle {
	padding: 0;
	margin: 0;
	text-decoration: none;
}

#banner {
	background: #89ccc7;

	height:			1vw;
	width: 100%;

	margin-bottom: 0.5vw;

	font-size: 2.5rem;

	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
	align-items: center;
}

#banner > a:link, #banner > a:visited {
	color: #303030;
}

#banner > a:hover {
	color: #e5e5e5;
}

.postheading {
	width: 100%;
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	padding: 0;
	margin:0;
}

.postheading > h1 {
	font-size: 1.2em;
	padding:0;
	margin: 0;
}

.postheading > p {
	margin: 0;
	padding: 0;
	color: #777777;
}

.post {
	/* border-radius: 10px; */
	padding: min(1vw, 15px);
	background: #303030;
	color:		#e5e5e5;
	margin: 0.5vw;
	margin-top: 0px;
	margin-right: 0px;
}

.post > p {
	font-size: 1em;
	padding: 0;
	margin: 0;
	margin-top: 0.5vw;
}

.post > p > br {
	display: block;
	content: "";
	margin-top: 0.5vw;
}

img.img_centered {
	margin-left: auto;
	margin-right: auto;
}

img.img_span {
	width: 100%;
}

#sidebar {
	margin: 0px 0px 0px 0px;
	/* padding: 10px; */
	position: sticky;
	top: 0.5vw;
	padding: 0;
	width: 30%;
	height: 100%;
	/* background: green; */
}

#articles {
	width: 70%;
}

#sidebar > .post {
	margin: 0;
	margin-bottom: 0.5vw;
/* 	position: sticky; */
/* 	top: 1vw; */
}

.horizontal {
	display: flex;
	flex-flow: row nowrap;
}

a {
	text-decoration:	none;
	transition: color 0.5s;
}

a:active{
	color:			#4287f5;
}

a:link {
	color:			#89ccc7;
}

a:visited {
	color:			#89ccc7;
}

a:hover {
	color:			#e5e5e5;
}
