html {
	font-family: 'Heebo', sans-serif;
	font-size: 1vw;
	/* background:		#202020; */
	background: #fefefa;
	/* color:			#e5e5e5; */
	color: #222222;
}

@media screen and (max-width: 1000px) {
	html {
		font-size: 3vw;
	}
}

p {
	line-height: 1.3rem;
}

body {
	min-width: 50%;
	max-width: min(1000px, 100%);
	margin: 0 auto;
	height: 100%;
}

header {
	margin:			1vw !important;

	text-align: center;
}

#title {
	padding: 0;
	margin: 0;
}

#subtitle {
	padding: 0;
	margin: 0;
	text-decoration: none;
}

#banner {
	background: #89ccc7;

	height:			1vw;
	width: 100%;


	font-size: 2.5rem;

	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
	align-items: center;
}

#banner > a:link, #banner > a:visited {
	color: #303030;
}

#banner > a:hover {
	color: #e5e5e5;
}

.postheading {
	width: 100%;
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	padding: 0;
	margin: 0;
}

.postheading > h1 {
	font-size: 1.2em;
	padding:0;
	margin: 0;
}

.postheading > p {
	margin: 0;
	padding: 0;
	color: #777777;
}

.post, .card {
	padding: 1vw 0px;
	text-justify: inter-word;
	text-align: justify;
}

#links {
	margin-left: 3vw;
	grid-area: links;
}

#aboutme {
	grid-area: about;
}

.post > hr {
	padding: 0;
	margin: 0;
}

.post > p {
	font-size: 1em;
	padding: 0;
	margin: 0;
	margin-top: 0.5vw;
}

.post > p > br {
	/* display: block; */
	content: "";
	margin-top: 0.5vw;
}

img.img_centered {
	margin-left: auto;
	margin-right: auto;
}

img.img_span {
	width: 100%;
}

main {
	display: grid;
	grid-template-columns: 30% auto 30%;
	grid-template-rows: auto;
	grid-template-areas:
		"about about links"
		"articles articles articles";
	margin: 0 2vw;
}

#articles {
	grid-area: articles;
}

a {
	text-decoration:	none;
	font-weight: bold;
	transition: color 0.2s;
}

a:active{
	color:			#4287f5;
}

a:link {
	/* color:			#89ccc7; */
	color: #55827f;
}

a:visited {
	/* color:			#89ccc7; */
	color: #55827f;
}

a:hover {
	color:			#222222;
}
